<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>--XO--</title>

</head>
<body>
    <div class="container">


        <!-- Modal  แสดงหน้าต่าง ชนะ เสมอ -->
        <div class="modal fade" id="winmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">สิ้นสุดการแข่งขัน</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <h1 id="name_winner"></h1>
                        
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary " data-bs-dismiss="modal" onclick="restart()" >เริ่มใหม่</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal แสดงหน้าต่าง เปลี่ยนขนาดของกระดาน XO-->
        <div class="modal fade" id="change_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">เปลี่ยนขนาดของกระดาน XO</h5>
                        
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <!-- <h4 id="">สามารถเปลี่ยนได้ตั้งแต่กระดานขนาด 3*3 - n*n</h4> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">ขนาด (ใส่หมายเลขมากกว่าหรือเท่ากับ 3)</span>
                                
                            </div>
                            <input type="text" id=number_size class="form-control" placeholder="เช่น 3, 4, 10, 20, 50" aria-label="Username" aria-describedby="basic-addon1">
                            
                        </div>
                        <div class="alert alert-danger " role="alert"  id="alert_value" style="display: none;">
                            กรุณาใส่หมายเลขจำนวนเต็มบวกให้ถูกต้อง เช่น 3, 4, 11, 20, ...
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary " onclick="click_changeSize_ox()" >ตกลง</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal แสดงหน้าต่าง ประวัติการเล่น XO-->
        <div class="modal fade" id="playing_history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-lg" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ประวิตการเล่น XO</h5>
                        
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <div>
                            <div id="play_hisory"> 

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="removeTableHistory()">ปิด</button>
                        <!-- <button type="button" class="btn btn-primary " onclick="click_changeSize_ox()" >ตกลง</button> -->
                    </div>
                </div>
            </div>
        </div>
        
        <h1>XO Game</h1>
        <h1 id="showcurrplayer">Turn: </h1>
        <button onclick="restart()" type="button" class="btn btn-secondary">Restart</button>
        <button onclick="change_size()" type="button" class="btn btn-primary">change size</button>
        <button onclick="playing_history()" type="button" class="btn btn-primary">Playing history</button>  
        

        <div id="Table_ox">

        </div>

    </div>
    
    
</body>
</html>




<script>
    let boxes 
    console.log(boxes, 'h')
    let showcplayer = document.getElementById("showcurrplayer");
    let list_player_x = []
    let list_player_o = []
    let player_x_winning = false
    let player_o_winning = false
    

    let line_winning = []
    let sizeOfox = 3
    

    const o_text = "O"
    const x_text = "X"
    
    let curr_Player = x_text 



    let spaces = Array(9).fill(null)

    let startGame = () => {
        showcplayer.innerText = `Turn: ${curr_Player}`;
        changeSizeox()
        createTableox()
        
        // เพิ่มปุ่มให้สามารถกดช่องได้
        
    }

    // เมื่อกดปุ่มเปลี่ยนขนาด ox ใช้ฟังก์ชันเปลี่ยนขนาด
    let value_sizeOfox 
    function click_changeSize_ox() {
        value_sizeOfox = parseFloat(document.getElementById("number_size").value);
        // เช็คค่า value ว่าถูกต้องหรือไม่ 
        console.log('value_sizeOfox', value_sizeOfox, typeof(value_sizeOfox))
        if(checkInput_changeSize(value_sizeOfox)){
            sizeOfox = value_sizeOfox
            line_winning = []
            console.log('sizeOfox', sizeOfox)
            changeSizeox()
            removeTableox()
            createTableox()
            $('#change_model').modal('hide');
        }
    }

    function boxClicked(e){
        const id = parseInt(e.target.id)
        let nameWinner = document.getElementById('name_winner');

        
        
        if(!spaces[id]){
            
            
            spaces[id] = curr_Player
            e.target.innerText = curr_Player



            // หากคนเล่นปัจจุบันเป็น X หลังกดให้เปลี่ยนเป็น O กลับกันหากเป็น O เปลี่ยนเป็น X
            if(curr_Player == x_text){
                list_player_x.push(id)
                curr_Player = o_text
                showcplayer.innerText = `Turn: ${curr_Player}`;
            }else{
                list_player_o.push(id)
                curr_Player = x_text
                showcplayer.innerText = `Turn: ${curr_Player}`;
            }

            // เช็คคนชนะ หากคนชนะ เป็น x จะ return ค่า x หากเป็น y return ค่า y
            
            let check_win = check_win_player()
            if(player_x_winning){
                showPopup()
                nameWinner.innerText = `ผู้เล่น X  เป็นผู้ชนะ!!!`;
                // console.log(`X has won!`)
                save_play_round()
            }else if(player_o_winning){
                showPopup()
                // console.log(`O has won!`)
                nameWinner.innerText = `ผู้เล่น O  เป็นผู้ชนะ!!!`;
                save_play_round()
            }else if(list_player_x.length + list_player_o.length == sizeOfox**2 && !player_x_winning && !player_o_winning ){
                // เช็คหากช่องทั้งหมดเต็ม แล้วไม่มีผู้ชนะ ให้แสดงเสมอ
                showPopup()
                nameWinner.innerText = `เสมอ!!!`;
                save_play_round()
            }
        }
        
        
        
    }
    

    // ตรวจสอบว่ามี sublist ใน list line_winning ที่มีค่าทุกตัวอยู่ใน player_x_winning/player_o_winning หรือไม่
    // หากมีบาง list ใน line_winning มีค่าอยู่ใน list player ให้ return true
    // ex some list_winning => [1, 2, 3]
    // check 1, 2 ,3 ทุกค่ามีค่าใน list player [1, 5, 3, 2] return true
    function  check_win_player(){
        player_x_winning = line_winning.some(function(sublist) {
            return sublist.every(function(item) {
                return list_player_x.includes(item);
            });
        });

        player_o_winning = line_winning.some(function(sublist) {
            return sublist.every(function(item) {
                return list_player_o.includes(item);
            });
        });

    }

    function changeSizeox(){
        // list_winning_line คือ list แต่ละรายการที่ทำให้ชนะ เช่น 3*3  list_winning_line คือ [1, 2, 3], [1, 4, 7] เป็นต้น
        list_winning_line = []
        // loop จำนวน n*n คั้ง โดยที่ หาก loop เป็นจำนวน sizeOfox หรือ j จะทำการ push ใส่ใน list_winning_line จะได้ row ของ 
        // แต่ละ list เช้น 3*3 เมื่อครบ 1, 2, 3 จะให้ list เข้า list_winning_line จะได้ [1, 2, 3]
        // จะได้แนวนอน sizeOfox แถว
        // เช่น sizeOfox = 3 ได้ [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
        for (let i = 0; i < sizeOfox; i++) {
            for (let j = 0; j < sizeOfox; j++) {
                list_winning_line.push((j+1) + (sizeOfox * i))
            }
            line_winning.push(list_winning_line)
            list_winning_line = []
        }
        // จะได้แนวตั้ง sizeOfox แถว
        for (let i = 0; i < sizeOfox; i++) {
            for (let j = 0; j < sizeOfox; j++) {
                list_winning_line.push((i+1) + (sizeOfox * j))
            }
            line_winning.push(list_winning_line)
            list_winning_line = []
        }
        // แนวทแยง มี 2 ค่า เอาค่าจาก list แนวนอน sizeOfox แถว ตำแหน่งที่เท่ากัน เช่น ตำแหน่ง 0 0 , 1 1 ,  2 2 ...
        for (let i = 0; i < sizeOfox; i++) {
            for (let j = 0; j < sizeOfox; j++) {
                if (j == i){
                    list_winning_line.push(line_winning[i][j])
                    break
                }
            }
        }
        line_winning.push(list_winning_line)
        list_winning_line = []
        // แนวทแยง ขวาบน ลง ซ้ายล่าง 0 sizeOfox-1, 0 sizeOfox - 2 ...
        for (let i = 0; i < sizeOfox; i++) {
            for (let j = 0; j < sizeOfox; j++) {
                if (j == (sizeOfox-1-i)){
                    list_winning_line.push(line_winning[i][j])
                    break
                }
            }
        }
        line_winning.push(list_winning_line)
        list_winning_line = []

        console.log('line_winning', line_winning)
        
    }




    function restart(){
        spaces.fill(null)
        

        boxes.forEach(box => {
            box.innerText = ''
        })

        curr_Player = x_text
        list_player_x = []
        list_player_o = []
        player_x_winning = false
        player_o_winning = false
        showcplayer.innerText = `Turn: ${curr_Player}`;
    }
    
    // แสดงหน้าต่างเปลี่ยนขนาดกระดาษ และเคลียค่าในกระดาษออก
    function change_size(){
        $('#change_model').modal('show');
        spaces.fill(null);
    }

    
    // แสดงหน้าต่างประวัติการเล่น 
    function playing_history(){
        $('#playing_history').modal('show');
        display_play_round()


    }



    startGame()
    
    // แสดง pop up เมื่อจบเกม มีการชนะ แพ้ หรือเสมอ ขึ้นบนหน้าจอ
    function showPopup() {
        $('#winmodel').modal('show');
        
    }
    // checkInput change size ox ตรวจสอบว่า input ถูกต้องหรือไม่ หากไม่ถูกแสดง alert เตือน 
    // และ return false ไม่ให้สามารถใช้ค่าได้
    function checkInput_changeSize(value) {
        // หากมีค่า น้อยกว่า 3 หรือ ไม่เป็น จำนวนเต็ม ให้แสดง alert เตือน
        if(value < 3 || !Number.isInteger(value)){
            // แสดง Alert
            $('#alert_value').show();

            // ซ่อน Alert อัตโนมัติหลังจาก 5 วินาที
            setTimeout(function() {
                $('#alert_value').hide();
            }, 7000);  // 5 วินาที
            
            return false
        }
        
        return true
        
        
        
    }
    
    // function การสร้างตาราง ตามขนาด sizeOfox
    function createTableox() {
        // สร้าง div หลัก
        var mainDiv = document.createElement("div");
        mainDiv.classList.add("col");

        // สร้าง rows
        for (var i = 1; i <= sizeOfox; i++) {
        var rowDiv = document.createElement("div");
        rowDiv.classList.add("row");

        // สร้าง boxes
        for (var j = 1; j <= sizeOfox; j++) {
            var boxDiv = document.createElement("div");
            boxDiv.classList.add("border", "border-primary", "box");
            boxDiv.style.width = "50px";
            boxDiv.style.height = "50px";
            boxDiv.id = (i - 1) * sizeOfox + j; // กำหนด id ตามลำดับ



            // เพิ่ม box ลงใน row
            rowDiv.appendChild(boxDiv);
        }

        // เพิ่ม row ลงใน div หลัก
        mainDiv.appendChild(rowDiv);
        }

        
        // เข้าถึง Element ที่มี id เป็น "Table_ox" และเพิ่ม div หลักลงไป
        document.getElementById("Table_ox").appendChild(mainDiv);
        
        boxes = Array.from(document.getElementsByClassName('box'))
        boxes.forEach(box => box.addEventListener('click', boxClicked))
    }

    // ลบตาราง เพื่อ สร้างตาสราง ox ใหม่
    function removeTableox() {
    // เข้าถึง Element ที่มี id เป็น "Table_ox"
    let tableOx = document.getElementById("Table_ox");

        // เช็คว่ามี child nodes อยู่หรือไม่
        if (tableOx.hasChildNodes()) {
        // ลบ child nodes ทั้งหมด
            tableOx.innerHTML = '';
        }
    }

    // ลบตาราง ประวัติการแข่งเมื่อปิด
    function removeTableHistory() {
    // เข้าถึง Element ที่มี id เป็น "Table_ox"
    let tablehis = document.getElementById("play_hisory");

        // เช็คว่ามี child nodes อยู่หรือไม่
        if (tablehis.hasChildNodes()) {
        // ลบ child nodes ทั้งหมด
            tablehis.innerHTML = '';
        }
    }
    

    //----------------------------API--------------------------------------
    // ส่งประวัติการเล่นไปหลังบ้านเพื่อจัดเก็บลง database
    function save_play_round() {
        // สร้างข้อมูลที่จะส่งไปยัง API
        // console.log('id_round_play', id_round_play)
        let data_play_round = {
            
            list_x: list_player_x,
            list_o: list_player_o,
            size: sizeOfox
            
        };

        fetch('/api/play_round', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_play_round)
            })
            .then(response => response.json())
            .then(result => {
                console.log(result.message); // แสดงข้อความสำหรับการแจ้งเตือนผู้ใช้
                console.log('****บัทึกสมบูรณ์!@@@', list_player_x , list_player_o)
            })
            .catch(error => {
                console.error('เกิดข้อผิดพลาดในการบันทึกข้อมูล:', error);
            });
            
        
        
    }

    // แสดงประวัติการเล่น ดึงข้อมูลมาจาก database
    function display_play_round() {
        fetch('/api/play_round_display')
                .then(response => response.json())
                .then(data => {
                    

                    console.log('have data ==> ', data)
                    // console.log('have data ==> ', data[0]['list_o'])
                    // let display_play_history = document.getElementById("play_hisory");


                    // display_play_history.textContent = data['_id'], item['list_o'], item['list_x'];

                    // สร้าง div ใหญ่สุด ไว้ใส่ ประวัติย่อยทุกอัน
                    let bigDiv = document.createElement("div");

                    let size_item 
                    let list_o_item 
                    let list_x_item 
                    let id_item 
                    
                    data.forEach(function(item){
                        

                        console.log(`id ${item['_id']}`, item['list_o'], item['list_x'], `size ${item['size']}`)
                        console.log('typeeeeeeeeeeee',typeof(item['list_o'][0]))
                        
                        size_item = item['size']
                        list_o_item = item['list_o']
                        list_x_item = item['list_x']
                        id_item  = item['_id']

                        // สร้าง div หลัก
                        let mainDiv = document.createElement("div");
                        mainDiv.classList.add("col");


                        // สร้าง <h1> element
                        let headerElement = document.createElement("h1");
                        let Order_of_play = document.createElement("p");
                        headerElement.textContent = id_item;

                        // แสดงประวัติลำดับการเล่นของ OX
                        // console.log('length.list_o_itemlength.list_o_item', length.list_o_item, list_o_item)
                        console.log('list_o_item 001', list_o_item)
                        let text_order_play = 'ลำดับการเล่น => '
                        let count_history_x = 0
                        let count_history_o = 0
                        for (let i = 0; i < list_o_item.length + list_x_item.length; i++){
                            
                            if(i % 2 == 0){
                                text_order_play += list_x_item[count_history_x] + ', '
                                count_history_x += 1
                            }else{
                                text_order_play += list_o_item[count_history_o] + ', '
                                count_history_o += 1
                            }
                            
                        }
                        Order_of_play.textContent = text_order_play;
                        // เพิ่ม <h1> element ลงใน mainDiv
                        mainDiv.appendChild(headerElement);
                        mainDiv.appendChild(Order_of_play);

                        // สร้าง rows
                        for (let i = 1; i <= size_item; i++) {
                        let rowDiv = document.createElement("div");
                        rowDiv.classList.add("row");

                        // สร้าง boxes
                            for (let j = 1; j <= size_item; j++) {
                                let boxDiv = document.createElement("div");
                                let pTag = document.createElement("p");
                                
                                boxDiv.classList.add("border", "border-primary", "box");
                                boxDiv.style.width = "50px";
                                boxDiv.style.height = "50px";
                                boxDiv.id = Number((i - 1) * size_item + j); // กำหนด id ตามลำดับ
                                let position = (i - 1) * size_item + j

                                // console.log('Testtttt---boxDiv.id ', boxDiv.id)
                                // console.log('Testtttt---boxDiv.id ', list_x_item)
                                // ตรวจสอบว่า (i - 1) * size_item + j อยู่ใน list x หรือไม่
                                if (list_x_item.includes(position)) {
                                    console.log('Testtttt---XXXX')
                                    // ถ้าอยู่ใน list a ให้ใส่ tag <p> ที่มีค่าเป็น "X" แทน
                                    pTag.textContent = "X";
                                }

                                // ตรวจสอบว่า (i - 1) * size_item + j อยู่ใน list o หรือไม่
                                else if(list_o_item.includes(position)) {
                                    // ถ้าอยู่ใน list a ให้ใส่ tag <p> ที่มีค่าเป็น "X" แทน
                                    pTag.textContent = "O";
                                }

                                // // เพิ่ม tag <p> ที่มีค่าเป็น 0
                                // let pTag = document.createElement("p");
                                // pTag.textContent = "0";

                                // // เพิ่ม <p> tag ลงใน boxDiv
                                // boxDiv.appendChild(pTag);
                                // เพิ่ม <p> tag ลงใน boxDiv
                                boxDiv.appendChild(pTag);



                                // เพิ่ม box ลงใน row
                                rowDiv.appendChild(boxDiv);
                            }
                        // เพิ่มการเดินในแต่ละตาของ player
                            
                        // let count = 0
                        // for (let k = 1; k <= list_o_item + list_x_item; k++) {

                        // }

                        
                        
                        // เพิ่ม row ลงใน div หลัก
                        mainDiv.appendChild(rowDiv);
                        

                        
                    }      
                    // // แสดงประวัติลำดับการเล่นของ OX
                    // let pTag = document.createElement("p");
                    // let text_order_play = ''
                    // for (let i = 0; i<length.list_o_item+length.list_x_item; i++){
                    //     if(i % 2 == 0){
                    //         text_order_play += list_x_item[i] + ' '
                    //     }else{
                    //         text_order_play += list_o_item[i] + ' '
                    //     }
                    // }
                    // pTag.textContent = text_order_play
                    // Order_of_play.appendChild(pTag);

                        // pTag.textContent = list_player_x;
                        // Order_of_play.textContent = id_item;

                        // pTag.textContent = list_o_item;
                        // Order_of_play.textContent = id_item;
                        
                        


                        // เข้าถึง Element ที่มี id เป็น "Table_ox" และเพิ่ม div หลักลงไป

                        // mainDiv.appendChild(pTag);
                        bigDiv.appendChild(mainDiv);
                        // document.getElementById("Table_ox").appendChild(mainDiv);

                        console.log('----------------')
                        // display_play_history.textContent = item['_id'], item['list_o'], item['list_x'];
                    })
                    document.getElementById("play_hisory").appendChild(bigDiv);
                });
    }
    
    
</script>
